# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture Specific folders
x86
x64
amd64

# Output files
*.out
*.exe

# Go specific
*.test
*.prof

# Dependency directories (remove the ones you don't use)
/vendor/
#go.mod
#go.sum
go.work
